{
  "extends": ["stylelint-config-standard"],
  "ignoreFiles": ["dist/**/*"],
  "rules": {
    "import-notation": "string",
    "selector-class-pattern": [
      "^([_a-z][a-z0-9]*)(-[a-z0-9]+)*$|^mantine-[a-zA-Z0-9-]+$",
      {
        "message": "Expected class selector to be kebab-case or a valid Mantine static class"
      }
    ]
  }
}
