{
  "*.{js,json,ts,tsx,yaml}": "biome check --write",
  "*.css": ["biome check --write", "stylelint --fix"],
  "*.html": "html-validator --ignore-config=.htmlignore",
  "*.md": "markdownlint --fix"
}
