{
  "*.{js,json,ts,tsx,yaml}": "biome check --write --no-errors-on-unmatched",
  "*.css": ["biome check --write --no-errors-on-unmatched", "stylelint --fix"],
  "*.html": "html-validator --ignore-config=.htmlignore",
  "*.md": "markdownlint --fix"
}
