{
  "arrowParens": "always",
  "bracketSameLine": true,
  "htmlWhitespaceSensitivity": "ignore",
  "semi": false,
  "trailingComma": "none",
  "plugins": [
    "prettier-plugin-organize-imports",
    "@awmottaz/prettier-plugin-void-html"
  ]
}
