.pad {
  padding-top: 100px;
}

.date {
  color: #66cc00 !important;
  text-shadow: 3px 3px 6px #000000;
}

#date {
  color: #ccffff;
}

.count {
  color: #66ccff !important;
}

form {
  min-width: 200px;
}
