/*
** https://mantine.dev/styles/css-files-list/
*/

/* global */
@import "@mantine/core/styles/baseline.css";
@import "@mantine/core/styles/default-css-variables.css";
@import "@mantine/core/styles/global.css";

/* shared */
@import "@mantine/core/styles/UnstyledButton.css";
@import "@mantine/core/styles/Paper.css";
@import "@mantine/core/styles/Popover.css";
@import "@mantine/core/styles/CloseButton.css";
@import "@mantine/core/styles/Overlay.css";
@import "@mantine/core/styles/ModalBase.css";
@import "@mantine/core/styles/Input.css";
@import "@mantine/core/styles/InlineInput.css";
@import "@mantine/core/styles/ActionIcon.css";

/* component */
@import "@mantine/core/styles/Button.css";
@import "@mantine/core/styles/Center.css";
@import "@mantine/core/styles/Image.css";
@import "@mantine/core/styles/Modal.css";
@import "@mantine/core/styles/NumberInput.css";
@import "@mantine/core/styles/Stack.css";
@import "@mantine/core/styles/Switch.css";
@import "@mantine/core/styles/Text.css";
@import "@mantine/core/styles/Tooltip.css";

/* extra */
@import "@mantine/dates/styles.layer.css";

.sober-date {
  /* stylelint-disable-next-line selector-class-pattern */
  & .mantine-DatePickerInput-input {
    color: var(--color-yellow);
  }
}

#settings-title,
#coin-title {
  font-size: x-large;
  font-weight: bold;
  color: var(--color-green);
}
